In [1]:
import os

import pandas as pd
pd.set_option('display.max_rows', 100)

In [2]:
DATA_PATH = os.path.join("data", "csse_covid_19_daily_reports")

In [3]:
available_files = os.listdir(DATA_PATH)

In [4]:
def key_to_sort_by_date(filename: str):
    if filename.endswith(".csv"):
        filename = filename.replace(".csv", "")
        month, day, year = filename.split("-")
        return year+month+day
    else:
        return filename

In [5]:
filename = "01-21-2022.csv"
filename = filename.replace(".csv", "")
month, day, year = filename.split("-")
print(month)
print(day)
print(year)
print(year+month+day)

01
21
2022
20220121

In [6]:
available_files.sort(key=lambda x: key_to_sort_by_date(x))

In [7]:
available_files[:5]

['.gitignore',
 '01-22-2020.csv',
 '01-23-2020.csv',
 '01-24-2020.csv',
 '01-25-2020.csv']

In [8]:
available_files[len(available_files) - 5:]

['12-08-2022.csv',
 '12-09-2022.csv',
 '12-10-2022.csv',
 '12-11-2022.csv',
 'README.md']

so we have data from <b>01-22-2020</b> to <b>12-08-2022</b>

in this task only first 6 month needed

so, lets take all the days starting <b>01-22-2020</b> and ending <b>06-22-2020</b>

lets take a look into a single file structure

In [9]:
df = pd.read_csv(os.path.join(DATA_PATH, "04-22-2022.csv"))
df.head(5)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2022-04-23 04:20:50,33.93911,67.709953,178638,7680,NaN,NaN,Afghanistan,458.889322,4.299197
1,NaN,NaN,NaN,Albania,2022-04-23 04:20:50,41.15330,20.168300,274737,3496,NaN,NaN,Albania,9546.771840,1.272490
2,NaN,NaN,NaN,Algeria,2022-04-23 04:20:50,28.03390,1.659600,265761,6874,NaN,NaN,Algeria,606.054000,2.586535
3,NaN,NaN,NaN,Andorra,2022-04-23 04:20:50,42.50630,1.521800,41013,153,NaN,NaN,Andorra,53080.955154,0.373052
4,NaN,NaN,NaN,Angola,2022-04-23 04:20:50,-11.20270,17.873900,99287,1900,NaN,NaN,Angola,302.093928,1.913644

In [10]:
df.tail(5)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
4011,NaN,NaN,Unknown,Ukraine,2022-04-23 04:20:50,NaN,NaN,187600,2801,0.0,0.0,"Unknown, Ukraine",0.0,0.0
4012,NaN,NaN,NaN,Nauru,2022-04-23 04:20:50,-0.5228,166.9315,3,0,0.0,0.0,Nauru,0.0,0.0
4013,NaN,NaN,Niue,New Zealand,2022-04-23 04:20:50,-19.0544,-169.8672,8,0,0.0,0.0,"Niue, New Zealand",0.0,0.0
4014,NaN,NaN,NaN,Tuvalu,2022-04-23 04:20:50,-7.1095,177.6493,0,0,0.0,0.0,Tuvalu,0.0,0.0
4015,NaN,NaN,Pitcairn Islands,United Kingdom,2022-04-23 04:20:50,-24.3768,-128.3242,0,0,0.0,0.0,"Pitcairn Islands, United Kingdom",0.0,0.0